html {
    font-size: 14px !important;
}

.nav {
    background-color: #b34848 !important;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6
.blog-post-title {
    color: #b34848 !important;
}

.blog-title,
.sidebar-title:hover {
    text-decoration: underline !important;
}

ul {
    list-style-type: none;
  }


  